#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.title {
    color: black;
    text-align: center;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    column-gap: 10em;
}

.player-score {
    color: black;
    font-size: 2em;
}

.player-control {
    display: flex;
    flex-direction: column;
}

label {
    color: black;
}

.play-zone {
    display: flex;
    column-gap: 1em;
}

.poligon {
    border: 1px solid black;
}
